#image-tile-container {
    margin-top: 2%;
    display: grid;
    justify-content: center;
    grid-gap: 40px;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px 400px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 40px;

}

#search-bar-container {
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

}

#search-bar {
    width: 20%;
    border-radius: 20px;
    margin-right: 10px;
    min-height: 30px;


}

#search-button {

    min-width: 100px;
    min-height: 30px;
    border-radius: 20px;
}